<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="adobereader"/>
   <package id="choco-package-list-backup"/>
   <package id="chocolatey"/>
   <package id="chocolatey-core.extension"/>
   <package id="chocolatey-dotnetfx.extension"/>
   <package id="chocolatey-misc-helpers.extension"/>
   <package id="chocolatey-windowsupdate.extension"/>
   <package id="DotNet4.5.2"/>
   <package id="dotnet4.7.1"/>
   <package id="dotnetfx"/>
   <package id="Everything"/>
   <package id="filezilla"/>
   <package id="Firefox"/>
   <package id="freeter"/>
   <package id="GoogleChrome"/>
   <package id="greenshot"/>
   <package id="imageglass"/>
   <package id="KB2919355"/>
   <package id="KB2919442"/>
   <package id="KB2999226"/>
   <package id="KB3033929"/>
   <package id="KB3035131"/>
   <package id="mobaxterm"/>
   <package id="notepadplusplus"/>
   <package id="notepadplusplus.install"/>
   <package id="peazip"/>
   <package id="peazip.install"/>
   <package id="python3"/>
   <package id="steam"/>
   <package id="treesizefree"/>
   <package id="vcredist140"/>
   <package id="vcredist2015"/>
   <package id="vlc"/>
   <package id="vscode"/>
   <package id="vscode.install"/>
   <package id="wox"/>
   <package id="zoom"/>
</packages>
